* {
    margin: 0;
    padding: 0;
}

/* a:link, a:visited { */
/*     color: ghostwhite; */
/*     text-decoration: none; */
/* } */

body {
    background-image: url(../img/review/background.webp);
    background-size: cover;
}

#container {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}
#container::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/review/background.webp);
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    content: "";
}

.mainTitle {
/*     font-weight: 500; */
    text-align: center;
    color: ghostwhite;
    padding-bottom: 20px;
}

.listnav {
	width: 100%;
	height: 50px;
	border-top: 1px solid white;
}

.search-area {
    width: 200px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    /* background-color: beige; */
    margin-left: 50px;
    margin-top : 20px;
}
    .search-area form {
        float: left;
    }

    .searchOption {
        background-color: transparent;
        color: ghostwhite;
    }

    .searchValue {
        width: 80px;
        height: 40px;
        border: none;
        background-color: transparent;
    }
    .searchValue::placeholder {
        color: ghostwhite;
    }

    .searchBtn{
        width: 40px;
        height: 40px;
        border-right: 1px solid gray;
        /* background-color: gray; */
    }

.listnav {
}


.listnav .sortbtn {
    float: right;
}

#list-tbl {
	border: none;
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

#list-tbl th, td {
	border: none;
    color: ghostwhite;
    text-align: center;
    height: 46px;
}
#list-tbl td {
	border: none;
}

#listtr:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.button-area {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.page {
	color: ghostwhite;
    text-decoration: none;
}


