* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/review/background.webp);
    background-size: cover;
}

textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
  }

#container {
    width: 60%;
    margin: auto;
    margin-top: 150px;
}

#container::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/review/background.webp);
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    content: "";
}

#maintitle {
    color: ghostwhite;
    text-align: center;
    font-size: 18px;
}

#input-area {
    display: flex;
    justify-content : center;
}

#reviewTitle, #reviewRating {
    border: 1px solid bisque;
    background-color: floralwhite;
    border-radius: 5px;
    width: 500px;
    height: 40px;
}

#reviewContent {
    border: 1px solid bisque;
    background-color: floralwhite;
    border-radius: 5px;
    width: 500px;
    height: 300px;
}

#button-area {
    display: flex;
    justify-content : space-evenly;
}