<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
	<resultMap type="Comment" id="commentResultMap">
		<id property="commentNo" column="COMMENT_NO"></id>
		<result property="commentContent" column="COMMENT_CONTENT"/>
		<result property="commentDate" column="COMMENT_DATE"/>
		<result property="questionNo" column="QUESTO_NO"/>
		<result property="userId" column = "USER_ID"/>
	</resultMap>
	
	<!-- 쿼리문 작성 부분 -->
	<insert id="insertComment">
		INSERT INTO COMMENTS_TBL VALUES (SEQ_COMMENTNO.NEXTVAL, #{commentContent}, DEFAULT, #{questionNo}, #{userId})
	</insert>
</mapper>