<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
	<resultMap type="Product" id="productResultMap">
		<id property="productNo" column="PRODUCT_NO"></id>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productDescription" column="PRODUCT_DESCRIPTION"/>
		<result property="productSize" column="PRODUCT_SIZE"/>
		<result property="productUserMax" column="PRODUCT_USER_MAX"/>
		<result property="productUserMin" column="PRODUCT_USER_MIN"/>
		<result property="pCreateDate" column="P_CREATE_DATE"/>
	</resultMap>
	
	<select id="selectAllProduct" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL
	</select>
	
	<select id="selectOneByProductNo" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<insert id="insertProduct">
		INSERT INTO PRODUCT_TBL 
		VALUES(SEQ_PRODUCTNO.NEXTVAL, #{productName}, #{productPrice}, #{productDescription}, #{productSize}, #{productUserMax}, #{productUserMin}, DEFAULT)
	</insert>
	
	<delete id="deleteProduct">
		DELETE FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
	</delete>
	
	<update id="modifyProduct">
		UPDATE PRODUCT_TBL 
		SET PRODUCT_NO = #{productNo}, PRODUCT_NAME = #{productName}, PRODUCT_PRICE = #{productPrice}, PRODUCT_DESCRIPTION = #{productDescription},
		PRODUCT_SIZE = #{productSize}, PRODUCT_USER_MAX = #{productUserMax}, PRODUCT_USER_MIN = #{productUserMin}, P_CREATE_DATE = #{pCreateDate}
		WHERE PRODUCT_NO = #{productNo} 
	</update>
	
	
	
	
	
	
	<select id="getAdminProductListCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL
	</select>
	
	<select id="selectAdminProductBoard" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id="getAdminProductSearchListCount" resultType="_int">	
		SELECT COUNT(*) FROM PRODUCT_TBL
			<choose>
				<when test="searchCondition == 'product'">
					WHERE PRODUCT_NAME LIKE '%' || #{searchValue} || '%'
				</when>
				<when test="searchCondition == 'number'">
					WHERE PRODUCT_NO LIKE '%' || #{searchValue} || '%'
				</when>
				<otherwise>
					WHERE PRODUCT_NAME LIKE '%' || #{searchValue} || '%' OR PRODUCT_NO LIKE '%' || #{searchValue} || '%'
				</otherwise>
			</choose> 
	</select>

	<select id="selectAdminProductListByKeyword" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL
			<choose>
				<when test="searchCondition == 'product'">
					WHERE PRODUCT_NAME LIKE '%' || #{searchValue} || '%'
				</when>
				<when test="searchCondition == 'number'">
					WHERE PRODUCT_NO LIKE '%' || #{searchValue} || '%'
				</when>
				<otherwise>
					WHERE PRODUCT_NAME LIKE '%' || #{searchValue} || '%' OR PRODUCT_NO LIKE '%' || #{searchValue} || '%'
				</otherwise>
			</choose> 		
	</select>
	
</mapper>