<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuestionMapper">
	<resultMap type="Question" id="questionResultMap">
		<id property="questionNo" column="QUESTION_NO"></id>
		<result property="userId" column="USER_ID"/>
		<result property="questionTitle" column="QUESTION_TITLE"/>
		<result property="questionContent" column="QUESTION_CONTENT"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="qCreateDate" column="Q_CREATE_DATE"/>
		<result property="questionFilename" column="QUESTION_FILENAME"/>
		<result property="questionFilepath" column="QUESTION_FILEPATH"/>
	</resultMap>
	
	<!-- 쿼리문 작성 부분 -->
	<insert id="insertQuestion">
		INSERT INTO QUESTION_TBL 
		VALUES(SEQ_QUESTIONNO.NEXTVAL, #{userId}, #{questionTitle}, #{questionContent}, DEFAULT, DEFAULT, #{questionFilename}, #{questionFilepath})
	</insert>
	
	<update id="updateQuestion">
		UPDATE QUESTION_TBL SET QUESTION_TITLE=#{questionTitle}, QUESTION_CONTENT=#{questionContent},
		Q_CREATE_DATE = DEFAULT,
		QUESTION_FILENAME = #{questionFilename}, QUESTION_FILEPATH = #{questionFilepath}
		WHERE QUESTION_NO = #{questionNo}
	</update>
	
	<delete id="deleteQuestion">
		DELETE FROM QUESTION_TBL WHERE QUESTION_NO=#{questionNo}
	</delete>
	
	<select id="questionView" resultMap="questionResultMap">
		SELECT * FROM QUESTION_TBL WHERE USER_ID=#{userId} 
	</select>
	
	<select id="questionViewAdmin" resultMap="questionResultMap">
		SELECT * FROM QUESTION_TBL
	</select>
	
	<update id="updateFileStatus">
		UPDATE QUESTION_TBL SET QUESTION_FILENAME = NULL, QUESTION_FILEPATH = NULL WHERE QUESTION_NO=#{questionNo}
	</update>
	
	<select id="questionView" resultMap="questionResultMap">
		SELECT * FROM QUESTION_TBL WHERE USER_ID=#{userId} 
	</select>
	
	<select id="questionViewAdmin" resultMap="questionResultMap">
		SELECT * FROM QUESTION_TBL
	</select>
	
	<select id="selectOneByNo" resultMap="questionResultMap">
		SELECT * FROM QUESTION_TBL WHERE QUESTION_NO=#{questionNo}
	</select>
	
	<select id="selectQnaByNo" resultMap="questionResultMap">
		SELECT * FROM QUESTION_TBL WHERE QUESTION_NO=#{questionNo}
	</select>
	<update id="updateFileStatus">
		UPDATE QUESTION_TBL SET QUESTION_FILENAME = NULL, QUESTION_FILEPATH = NULL WHERE QUESTION_NO=#{questionNo}
	</update>
	
</mapper>