<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="User" id="userResultMap">
		<id property="userId" column="USER_ID"></id>
		<result property="userPw" column="USER_PW" />
		<result property="userName" column="USER_NAME" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userPhone" column="USER_PHONE" />
		<result property="userAddress" column="USER_ADDRESS" />
		<result property="userType" column="USER_TYPE" />
		<result property="uCreateDate" column="U_CREATE_DATE" />
	</resultMap>

	<insert id="insertUser">
		INSERT INTO USER_TBL 
		VALUES(#{userId}, #{userPw}, #{userName}, #{userEmail}, #{userPhone}, #{userAddress}, DEFAULT, DEFAULT)
	</insert>
	
	<select id="login" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL 
		WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>
	
	<select id="selectUserById" resultMap="userResultMap">
		SELECT * 
		FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	
	<!-- #{userId} 자리에는 admin이 들어가도록 storeImpl의 파라미터값에 넣어줬음 -->
	<!-- <select id="selectAll" resultMap="userResultMap">
		SELECT *
		FROM USER_TBL
		WHERE USER_ID != #{userId}
		ORDER BY U_CREATE_DATE DESC
	</select> -->
	
	<select id="selectAllSearch" resultMap="userResultMap">
		SELECT *
		FROM USER_TBL
		<choose>
			<when test="searchCondition == 'all'">
				WHERE (USER_ID LIKE '%' || #{searchValue} || '%' OR
				USER_NAME LIKE '%' || #{searchValue} || '%' OR
				USER_PHONE LIKE '%' || #{searchValue} || '%')
			</when>
			<when test="searchCondition == 'userId'">
				WHERE (USER_ID LIKE '%' || #{searchValue} || '%')
			</when>
			<when test="searchCondition == 'userName'">
				WHERE (USER_NAME LIKE '%' || #{searchValue} || '%')
			</when>
			<when test="searchCondition == 'userPhone'">
				WHERE (USER_PHONE LIKE '%' || #{searchValue} || '%')
			</when>
		</choose>
		AND USER_ID != 'admin'
		ORDER BY U_CREATE_DATE DESC
	</select>
	
	<!-- <select id="getListCnt" resultType="_int">
		SELECT COUNT(*)
		FROM USER_TBL
		WHERE USER_ID != 'admin'
	</select> -->
	
	<select id="getListCntSearch" resultType="_int">
		SELECT COUNT(*)
		FROM USER_TBL
		<choose>
			<when test="searchCondition == 'all'">
				WHERE (USER_ID LIKE '%' || #{searchValue} || '%' OR
				USER_NAME LIKE '%' || #{searchValue} || '%' OR
				USER_PHONE LIKE '%' || #{searchValue} || '%')
			</when>
			<when test="searchCondition == 'userId'">
				WHERE (USER_ID LIKE '%' || #{searchValue} || '%')
			</when>
			<when test="searchCondition == 'userName'">
				WHERE (USER_NAME LIKE '%' || #{searchValue} || '%')
			</when>
			<when test="searchCondition == 'userPhone'">
				WHERE (USER_PHONE LIKE '%' || #{searchValue} || '%')
			</when>
		</choose>
		AND USER_ID != 'admin'
	</select>
	
	<update id="updateUser">
		UPDATE USER_TBL 
		SET USER_PW = #{userPw}, USER_EMAIL = #{userEmail}, USER_PHONE = #{userPhone}, USER_ADDRESS = #{userAddress}
		WHERE USER_ID = #{userId}
	</update>
	
	<select id="findPw" resultMap="userResultMap">
		SELECT *
		FROM USER_TBL
		WHERE USER_ID = #{userId} AND USER_NAME = #{userName} AND USER_EMAIL = #{userEmail} AND USER_PHONE = #{userPhone}
	</select>
	
	<update id="updatePw">
		UPDATE USER_TBL
		SET USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>
	
	<select id="checkId" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL 
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="checkEmail" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL 
		WHERE USER_EMAIL = #{userEmail}
	</select>
</mapper>