@font-face {
    font-family: 'Chosunilbo_myungjo';
    src:
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Chosunilbo_myungjo';
}
.viewtop{
    align-items: center;
}
.viewtop h1 {
    color: #3c2a21;
}
.viewtop p {
    color : #e5e5cb;
}

.viewmiddle {
    border-top: 1px;
    border-color: #3c2a21;
}