@font-face {
    font-family: 'Chosunilbo_myungjo';
    src:
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Chosunilbo_myungjo';
}
#outter {
	padding-top : 72px;
	height: calc(100vh - 72px);
	width: 70vw;
	margin: 0 auto;
}
#outter h1, p {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration : none;	
	color : black;
	text-align : center;
}

#inner {
	height: 70%;
	width: 70vw;
	padding: 2vh 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

#content1 {
	height: 5%;
}

#content2 {
	height: 5%;
}

#content3 {
	height: 5%;
}

#content4 {
	height: 5%;
}

#content5 {
	height: 20%;
}

#content6 {
	height: 60%;
}

	#content6 img {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
	margin-top : 5px;
	margin-bottom : 5px;
}

.content-btn {
	text-align: center;
	margin-top : 2vh;
}

.content-btn button {
	width: 150px;
	height: 40px;;
	background-color : #e5e5cb;
	border: none;
}