@font-face {
	font-family: 'Chosunilbo_myungjo';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Chosunilbo_myungjo';
}

#outter {
	padding-top: 72px;
	height: calc(100vh - 72px);
	width: 70vw;
	margin: 0 auto;
}

#outter h1, p {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#inner {
	height: 80%;
	padding: 2vh 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

#contents, form {
	height: 100%;
}

#content1 {
	height: 10%;
	font-size: large;
}
	#content1 input{
		height: 80%;
		width: 85%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: large;
	}

#content2 {
	height: 40%;
	font-size: large;
	display: flex;
}
	#content2 textarea{
		height: 80%;
		width: 85%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: large;
	}

#content3 {
	height: 10%;
	font-size: large;
}
		#content3 input{
		height: 85%;
		width: 85%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: large;
	}

#Container {
	height: 40%;
}

#Container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

#content1 input, #content2 textarea {
	border: 0;
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
	color: black;
	text-align: center;
}

input, textarea {
	width: 50%
}

.content-btn {
	height: 10%;
	justify-content: space-evenly;
	align-content: space-between;
	display: flex;
	align-items: center;
}

.content-btn button {
	width: 150px;
	height: 40px;;
	background-color: #e5e5cb;
	border: none;
}

.content-btn input {
	width: 150px;
	height: 40px;;
	background-color: #e5e5cb;
	border: none;
}